@CHARSET "UTF-8";

.formTableStyle{ 
	border:1px solid #a5c7dd;   
    border-collapse:collapse;  
	table-layout: fixed;
	width:100%; 
	margin: 0px;
}
.formTableStyle tr{
	margin: 0px;
	height: 28px; 
} 

.formTableStyle th {
	border:1px solid #a5c7dd; 
	background-color: #f5faff;
	color: #444;
	text-align: right;
	vertical-align:middle;
	margin: 0px;
	padding: 3px 5px;
	cursor: default;
	font-weight: normal;
}

.formTableStyle tr td{ 
	border:1px solid #a5c7dd;   
    border-collapse:collapse; 
	text-align: left;
	vertical-align:middle;
	padding: 3px 5px;
}   
.formTableStyle tr td label{ 
	vertical-align:middle;
}   

.formTableStyle tr td textarea{ 
	
}

.formTableStyle tr td select{ 
	vertical-align:middle;
}

.formTableStyle tr td span input{ 
	vertical-align:middle;
} 

.formTableStyle tr td div{ 
	margin: 0px;
}   
.formTableStyle tr td div input { 
	vertical-align:middle;
}   

 
.searchTableStyle{
	border:1px solid #BAC8D0;   
    border-collapse:collapse;  
	table-layout: fixed;
	width:100%; 
	margin: 0px;
}
.searchTableStyle tr{
	margin: 0px;
	padding:1px;
}
.searchTableStyle th{
	border:1px solid #BAC8D0; 
	background-color: #f5faff;
	text-align: right;
	vertical-align:middle;
	margin: 0px;
	padding: 1px;
}
.searchTableStyle tr td{ 
	border:1px solid #BAC8D0;   
    border-collapse:collapse; 
	text-align: left;
	margin: 0px;
	padding: 1px;
}
